ion-icon {
  font-size: 64px;
}
.navbar-nav > li > .dropdown-menu
{
background-color: #343a40;
}
.navbar-nav > li > .dropdown-menu a
{
      color: #cfcfcf;  
}
.dark{
  background-color: #343a40;

}
.white-text{
  color: #F5F7FA;
}
.vh-100{
  background-color: #F5F7FA;
}