/* styles */
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(197, 30, 248), rgb(95, 2, 172));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(197, 30, 248, 1), rgba(95, 2, 172, 1))
  }

/* This is to hide the built-in labels from wtf forms */
label[for="email"]
{
    display: none;
}
label[for="password"]
{
    display: none;
}
form i {
    margin-left: -40px;
    cursor: pointer;
}
.btn btn-primary btn-lg btn-block{
    display: inline-block;

}
#loginbutton{
    text-align: center;
}