{%extends "login_base.html"%}
{% import 'bootstrap4/form.html' as wtf%}
{%block title%} {%endblock%}
{%block body%}
<div class="card-body p-5 text-center">
    <h3 class="mb-3"> Recover Password </h3>
     <!-- This is the flashed message-->
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
     {% for category, message in messages %}
     <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
     {% endfor %}
     {% endif %}
     {% endwith %}
   
    <form action="{{url_for('login.get_pw', token=token)}}" method="post">
        
        {{wtf.render_field(form.password)}}
        {{wtf.render_field(form.confirm_pw)}}
        <button class="btn btn-primary  btn-block" type="submit"><i class="fas fa-redo"></i> Reset Password</button>
    </form>
</div>
{%endblock%}