{%extends "root_template/navbar.html"%}
{% import 'bootstrap4/form.html' as wtf%}
{%block title%} Customers {%endblock%}
{%block body%}
<link rel="stylesheet" href="{{url_for('admin.static', filename='css/contents.css')}}">
<script src="{{url_for('admin.static', filename='js/customer_management.js')}}"></script>
<div class="container py-5 h-100">
    <div class="row">
        <div class="col-12">
            <h3>Manage Customers</h3>
                    <!-- This is the flashed message-->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-3 col-md-12 col-sm-12">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addcustomers" id="selectmodal">Add Customers</button>
        </div>
   
        <div class="col-12" id="table">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <!-- Titles of the table-->
                    <thead>
                        <th> Name </th>
                        <th>Address </th>
                        <th>Contact Number</th>
                        <th>Markers</th>
                        <th></th>
                    </thead>
                    <!-- Content-->
                    {%for name in name%}
                    <tbody>
                        <tr>
                            <td>{{name.name}}</td>
                            <td>{{name.address}}</td>
                            <td>{{name.contact_number}}</td>
                            <td>{{name.markers}}</td>
                            <td>
                             <a href="{{url_for('admin.edit_customers', id=name.id)}}" class="btn btn-warning"> Edit </a>
                             <a href="{{url_for('admin.api.api_customer.delete_customer', id=name.id)}}" class="btn btn-danger" onclick="return confirm('Are you sure do you want to delete?')"> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal for adding-->
<div class="modal fade" id="addcustomers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Customer Management</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
          <!-- Main Content-->
          {{wtf.render_field(form.name, placeholder='e.g Juan Dela Cruz')}}
          {{wtf.render_field(form.address, placeholder='e.g Brgy Cacalog')}}
          {{wtf.render_field(form.contact_number, placeholder='09xxx')}}
          {{wtf.render_field(form.markers, placeholder='Optional')}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="modal_submit">Add Customer</button>
        </div>
      </div>
    </div>
  </div>
<style>
    #table{
        margin-top: 10px;
    }
</style>
{%endblock%}