{%extends "utils.html"%}
{%block title%}{{title}}{%endblock%}
{%block body%}
<script src="{{url_for('front.static', filename='js/bs-init.js')}}"></script>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-globe m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                    <h3>Online Based</h3>
                    <p class="lead mb-0">Access anywhere, Less cost for maintaining a local server and resources</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-database m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                    <h3>Database Ready</h3>
                    <p class="lead mb-0">All your data are stored in secured database</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-users-cog m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                    <h3>Customizable</h3>
                    <p class="lead mb-0">Ready to use with your own content or data</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div id="students"class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;/static/front/image/olfu-students.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2 class="scroll"><i class="fal fa-graduation-cap"></i> Students</h2>
                <p class="lead mb-0">
                    This will benefit students in learning more about inventory management systems, as well as on how to create one.

                </p>
            </div>
        </div>
        <div id="business"class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;/static/front/image/business.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2 class="scroll"><i class="fal fa-briefcase"></i> Business</h2>
                <p class="lead mb-0">
                    This will help businesses like water refilling stations the effectiveness of an inventory system. It will help them learn more about such a system and be able to use it in their own means.

                </p>
            </div>
        </div>
        <div id="researchers"class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;/static/front/image/researchers.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2 class="scroll"><i class="fal fa-school"></i> Future Researchers</h2>
                <p class="lead mb-0">This will serve as basis for future researchers who wants to do similar studies and research.</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}