{%extends "root_template/navbar.html"%}
{% import 'bootstrap4/form.html' as wtf%}
{%block title%} Edit Products{%endblock%}
{%block body%}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center  align-items-center">
        <div class="col-12">
            <div class="card">
                <!-- Title name-->
                <div class="card-body p-5 text-center">
                    <h3> <i class="fas fa-shopping-basket"></i> Rename Catalog {{name.name}}</h3>
                    <!-- Main Content-->
                    <input  id="catalog_code"type="text" value={{name.id}} style="display: none;">
                    <br>
                    <div id="errorAlert2" class="alert alert-danger" role="alert" style="display:none;"></div>
                    {{wtf.render_field(form.catalog, value=name.name, placeholder='Product Catalog Name')}}
                    <button type="button" id="submit_button_catalog" class="btn btn-primary btn-md btn-block"> Submit </button>
                
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('admin.static', filename='js/edit_content.js')}}"></script>
<style>
    label[for="catalog"]
{
    display: none;
}
</style>
{%endblock%}